// @primary-color: white;
// @bg: black;
// h1 {
//   color: @primary-color;
//   background-color: @bg;
// }

body {
  margin: 0;
  padding: 0;
}

.row {
  display: flex;

  > * {
    padding: 10px;
    border: solid 1px black;

    width: 50%;
  }
}

iframe {
  border: solid 1px blue;
  width: 100%;
  // resize: both;
}

.web-component {
  border: solid 1px red;
}

h1 {
  color: red;
}
